<div class="page-main">
  <main id="content" class="Main grid-container">
    {{> components/DateField/DateField }}

    <hr class="kitchensink-divider" />

    {{> components/DateTimeField/DateTimeField }}

    <hr class="kitchensink-divider" />

    {{> components/TimeField/TimeField }}

    <hr class="kitchensink-divider" />

    {{> components/MonthField/MonthField }}

    <hr class="kitchensink-divider" />

    {{> components/WeekField/WeekField }}

    <hr class="kitchensink-divider" />

    {{> components/AffixField/AffixField }}

    <hr class="kitchensink-divider" />

    {{> components/MotionRegion/MotionRegion }}

    <hr class="kitchensink-divider" />

    {{> components/FileUpload/FileUpload }}

    <hr class="kitchensink-divider" />

    {{> components/ToggleTip/ToggleTip }}

    <hr class="kitchensink-divider" />

    {{> components/ScrollArea/ScrollArea }}

    <hr class="kitchensink-divider" />

    {{> components/ChoiceField/ChoiceField }}

    <hr class="kitchensink-divider" />

    {{> components/ChoiceGroup/ChoiceGroup }}
  </main>
</div>
